@import './variables.css';
@import './main.css';
@import 'tailwindcss';

* {
  box-sizing: border-box;
  border-color: var(--stroke);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

html {
  font-family: 'Inter', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
